<bd-dashboard-cell>
  <h2 with-icon>
    Monthly Sales

    <bd-icon>
      {% include "svgs/file-analytics.svg" %}
    </bd-icon>
  </h2>

  <bd-callout>
    {% component_dsd "bd-callout" %}

    <bd-chart type="line">
      {% component_dsd "bd-chart" %}
      <script>
        document.currentScript.parentNode.addEventListener("request-config", e => {
          const callback = e.detail.callback

          const data = [
            { month: "August", millions: 12.21 },
            { month: "September", millions: 20.23 },
            { month: "October", millions: 15.51 },
          ];

          callback({
            options: {
              aspectRatio: 1.5,
            },
            data: {
              labels: data.map(row => row.month),
              datasets: [
                {
                  label: "Revenue (Millions)",
                  data: data.map(row => row.millions)
                }
              ]
            }
          })
        })
      </script>
    </bd-chart>
  </bd-callout>
</bd-dashboard-cell>

<bd-dashboard-cell>
  <h2 with-icon>
    Customer Sentiment

    <bd-icon>
      {% include "svgs/file-analytics.svg" %}
    </bd-icon>
  </h2>

  <bd-callout>
    {% component_dsd "bd-callout" %}

    <bd-chart type="doughnut" style="max-height: 350px">
      {% component_dsd "bd-chart" %}
      <script>
        document.currentScript.parentNode.addEventListener("request-config", e => {
          const callback = e.detail.callback

          const data = [
            { sentiment: "Happy", percentage: 72 },
            { sentiment: "Not So Happy", percentage: 13 },
            { sentiment: "Disgruntled", percentage: 15 },
          ];

          callback({
            data: {
              labels: data.map(row => row.sentiment),
              datasets: [
                {
                  label: "Percentage",
                  data: data.map(row => row.percentage)
                }
              ]
            }
          })
        })
      </script>
    </bd-chart>
  </bd-callout>
</bd-dashboard-cell>
<bd-dashboard-cell>
  <h2 with-icon>
    Projected Growth

    <bd-icon>
      {% include "svgs/file-analytics.svg" %}
    </bd-icon>
  </h2>

  <bd-callout>
    {% component_dsd "bd-callout" %}

    <bd-chart type="bar">
      {% component_dsd "bd-chart" %}
      <script>
        document.currentScript.parentNode.addEventListener("request-config", e => {
          const callback = e.detail.callback

          const data = [
            { month: "Q1 2024", millions: 14.85 },
            { month: "Q2 2024", millions: 20.10 },
            { month: "Q3 2024", millions: 33.86 },
          ];

          callback({
            options: {
              aspectRatio: 1.5,
            },
            data: {
              labels: data.map(row => row.month),
              datasets: [
                {
                  label: "Revenue (Millions)",
                  data: data.map(row => row.millions),
                  backgroundColor: e.target.defaultBarColors,
                  borderColor: e.target.defaultBarBorders,
                  borderWidth: 1
                }
              ]
            }
          })
        })
      </script>
    </bd-chart>
  </bd-callout>

  <footer style="text-align: right; margin-block-start: var(--fluid-sectioning)">
    <bd-button size="small">
      {% component_dsd "bd-button" %}
      <button onclick='alert("Not implemented…yet")'>
        <bd-icon>
          {% include "svgs/calendar-stats.svg" %}
        </bd-icon>
        Adjust Range
      </button>
    </bd-button>
  </footer>
</bd-dashboard-cell>
