<bd-dashboard-cell>
  <header>
    <h2 with-icon>
      Latest Messages

      <bd-icon>
        {% include "svgs/messages.svg" %}
      </bd-icon>
    </h2>
  </header>

  <!-- List of Messages -->
  <bd-messages role="list">
    {% component_dsd "bd-messages" %}

    <bd-message role="listitem">
      {% component_dsd "bd-message" %}
      <img slot="avatar" src="https://i.pravatar.cc/96?u=jennaclarksdale@demo.spicyweb.dev" />
      <span slot="author">Jenna Clarksdale</span>

      <time slot="sent" datetime="2023-11-13">11/13/23</time>

      <p>Did we remember to ask about re-running the previous report? I'm not sure if the data got fixed yet.</p>
    </bd-message>

    <bd-message role="listitem">
      {% component_dsd "bd-message" %}
      <img slot="avatar" src="https://i.pravatar.cc/96?u=frank@demo.spicyweb.dev" />
      <span slot="author">Frank Ford</span>

      <time slot="sent" datetime="2023-11-22">11/12/23</time>

      <p>Those numbers are really impressive!</p>

      <p>Let's talk about it at the next group meeting. -ff</p>
    </bd-message>
  </bd-messages>

  <footer style="text-align: center; margin-block-start: var(--fluid-sectioning)">
    <bd-button>
      {% component_dsd "bd-button" %}
      <a href="#message">
        <bd-icon>
          {% include "svgs/messages.svg" %}
        </bd-icon>
        All Messages
      </a>
    </bd-button>
  </footer>
</bd-dashboard-cell>
