<nav slot="sidebar">
  <button sidebar-toggler style="float: right; margin: var(--size-2)" onclick='
    if (!document.body.hasAttribute("open-sidebar")) {
      document.body.setAttribute("open-sidebar", "")
    } else {
      document.body.removeAttribute("open-sidebar")
    }
  '>
    <bd-icon>
      {% include "svgs/layout-sidebar-left-collapsed-filled.svg" %}
    </bd-icon>
  </button>

  <a id="logo" href="/" aria-label="The Spicy Web Logo">
    {% include "svgs/logo.svg" %}
  </a>

  <bd-menu role="list">
    {% component_dsd "bd-menu" %}
    <bd-menu-item role="listitem" selected noprefix>
      {% component_dsd "bd-menu-item" %}
      <a href="/">Dashboard</a>
      <bd-icon slot="suffix">
        {% include "svgs/gauge.svg" %}
      </bd-icon>
    </bd-menu-item>

    <bd-menu-item role="listitem" noprefix>
      {% component_dsd "bd-menu-item" %}
      <a href="#messages">Messages</a>
      <bd-icon slot="suffix">
        {% include "svgs/messages.svg" %}
      </bd-icon>
    </bd-menu-item>

    <bd-menu-item role="listitem" noprefix>
      {% component_dsd "bd-menu-item" %}
      <a href="#reports">Reports</a>
      <bd-icon slot="suffix">
        {% include "svgs/file-analytics.svg" %}
      </bd-icon>
    </bd-menu-item>

    <bd-menu-item role="listitem" noprefix>
      {% component_dsd "bd-menu-item" %}
      <a href="#groups">Groups</a>
      <bd-icon slot="suffix">
        {% include "svgs/users-group.svg" %}
      </bd-icon>
    </bd-menu-item>

    <bd-menu-item role="listitem" noprefix>
      {% component_dsd "bd-menu-item" %}
      <a href="#settings">Settings</a>
      <bd-icon slot="suffix">
        {% include "svgs/settings.svg" %}
      </bd-icon>
    </bd-menu-item>
  </bd-menu>
</nav>

<script type="module">
  document.body.addEventListener("click", e => {
    if (!e.composedPath().some(item => (item.localName === "slot" && item.name === "sidebar") || item.hasAttribute && item.hasAttribute("sidebar-toggler"))) {
      document.body.removeAttribute("open-sidebar")
    }
  })
</script>
