---
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="/styles/index.css" rel="stylesheet" />
  </head>
  <body>
    {% component_dsd "body-grid-layout" %}

    {% include "shared/header" %}

    <main id="content">
      {{ content }}
    </main>

    {% include "shared/sidebar" %}

    {% include "shared/footer" %}

    <a slot="skip-to-content" href="#content">Skip to content</a>

    <script>
      // DSD Polyfill
      ;(function attachShadowRoots(root) {
        root.querySelectorAll("template[shadowrootmode]").forEach(template => {
          if (template.parentNode.shadowRoot) { // already attached somehow…Eleventy dev morph?
            template.remove()
          } else {
            const mode = template.getAttribute("shadowrootmode");
            const shadowRoot = template.parentNode.attachShadow({ mode });
            shadowRoot.appendChild(template.content);
            template.remove();
            attachShadowRoots(shadowRoot);
          }
        });
      })(document);
    </script>
  </body>
</html>